.DS_Store
**credentials
.zsh_history
.zsh_sessions
.zcompdump
# zsh-you-should-use plugin i pull from github
zsh-you-should-use
zed/conversations
zed/embeddings
zed/prompts
raycast/extensions
QtProject
gnuradio
gtk-2.0
gtk-3.0
github-copilot**
